<section class="card post-container">
  <div class="post-header flex">
    <h3 class="post-title"><%= @post.title %> by <%= @post.author.name %></h3>
    <p class="post-counters flex">
      <span class="comments-counter">Comments: <%= @post.comments_counter %> </span>
      <span class="likes-counter">Likes: <%= @post.likes_counter %></span>
    </p>
  </div>
  <div class="post-body">
    <p class="card-text"><%= @post.text %></p>
  </div>
  <div class="post-like-btn">
    <%= render 'likes/like'%>
  </div>
</section>
<section class="card post-comments-container">
  <div class="comment">
    <%= render partial: "partials/comment", collection: @post.comments %>
  </div>
  <%= render 'comments/comment'%>

  <% if can? :destroy, @post %>
    <%= button_to "Delete post", user_post_path(@user.id, @post.id), method: :delete, data: { turbo: false }, class: 'btn delete-btn' %>
  <% end %>
</section>
